.illustration {
    background-color: #FCF8A1;
    background-image: url('../pics/illustration_bridge.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.illustration-footer {
    background-image: url('../pics/illustration-footer.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer-height {
    height: 170px;
    margin-top: 0 !important;
    position: relative;
}

.header-height {
    height: 170px;
    margin-top: 0 !important;
    position: relative;
}

@media (min-width: 1200px) {
    .header-height {
        height: 210px;
    }
    .illustration {
        background-size: 100% 210px;
    }
}

.title-color {
    color: #005B52 !important;
}

.title-position {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.carbon-emission-card {
    background-color: #BBDA50;
}

.monthly-emission-card {
    background-color: #145161;
}

.unhandled-computers-card {
    background-color: #FCF8A1;
}

.card {
    min-height: 185px !important;
}

.percent-color {
    color: #BBDA50;
}
