dist/
node_modules/
vendor/
.vscode/
.gh_token
composer.lock
*.min.*
*.code-workspace
*~
docs/GLPI carbon.sql
data/teclib-editions/computermodels.csv
data/teclib-editions/computertypes.csv
data/tests
scripts/out.csv
locales/??.po
