parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
        - stubs/OptionalClass.php.stub
    paths:
        - src
        - front
        - ajax
        - install
        - hook.php
        - setup.php
    scanDirectories:
        - ../../inc
        - ../../src
    stubFiles:
        - ../../stubs/glpi_constants.php
        - ./stubs/OptionalClass.php.stub
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule
