<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
  backupGlobals="false"
  colors="true"
  stderr="true">
  <source>
    <include>
      <directory suffix=".php">src</directory>
      <file>setup.php</file>
      <file>hook.php</file>
    </include>
  </source>
  <logging>
    <junit outputFile="./tests/logs/junit_install.xml" />
  </logging>
  <!-- exclude relatively to ${basedir} -->
  <!-- <filter>
    <whitelist>
      <directory suffix=".php">./inc</directory>
    </whitelist>
  </filter> -->
  <testsuites>
    <testsuite name="Install">
      <directory>./tests/install/</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory>./tests/units/</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>./tests/integration/</directory>
    </testsuite>
    <testsuite name="Uninstall">
      <directory>./tests/uninstall/</directory>
    </testsuite>
    <testsuite name="Upgrade">
      <directory>./tests/upgrade/</directory>
    </testsuite>
  </testsuites>
</phpunit>
