{#
 # -------------------------------------------------------------------------
 # carbon plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2024 Teclib' and contributors.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 # -------------------------------------------------------------------------
 #}

<div class="page plugin_carbon_quick_report">
    <!-- Header with background image -->
    <header class="page-header header-height illustration container-fluid">
        <div class="container-fluid">
        <img src="{{ get_plugin_web_dir('carbon') }}/dist/images/illustration_bridge.png" class="illustration-header" alt="GLPI Carbon header" />
            <h1 class="page-title title-color title-position">{{ __('GLPI Carbon', 'carbon') }}</h1>
        </div>
    </header>
    <style>
      /*  Hide dashboard toolbar to disable edit mode */
      .dashboard-card .toolbar {
        /* display: none; */
      }
    </style>

    {% block body %}
    <div class="page-body">
      {{ dashboard|raw }}
    </div>
    {% endblock %}

  <footer class="container-fluid mt-3 footer-height d-flex justify-content-center">
      <img src="{{ get_plugin_web_dir('carbon') }}/dist/images/illustration-footer.png" class="py-1 illustration-footer" alt="GLPI Carbon footer" />
  </footer>
</div>
