{#
 # -------------------------------------------------------------------------
 # carbon plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2024 Teclib' and contributors.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/carbon
 # -------------------------------------------------------------------------
 #}

<div class="card-body monthly-emission-card" style="height: 100%">
  <div class="row align-items-center">
    <div class="col-auto">
      <span><img src="{{ get_plugin_web_dir('carbon') }}/dist/images/icon-co2-calendar-green.png" class="icon-size" /></span>
    </div>
    <div class="col">
      <div class="subheader text-white">{{ __('Monthly carbon emission', 'carbon') }}</div>
      <div class="subheader text-white">{{ __('April, 2024', 'carbon') }}</div>
      <div class="my-3 text-white nb-monthly-carbon-emission" id="monthlyEmission"></div>
      <p class="m-0 percent-color" id="monthlyComparison"></p>
      <div class="subheader text-white">{{ __('Compared to last month', 'carbon') }}</div>
    </div>
  </div>
</div>

{% block scripts %}
<script>
  $(document).ready(function () {

    fetch(CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.carbon + "/ajax/carbonEmissionPerMonth.php").then(response => {
        console.log(response);
        return response.json();
    }).then(data => {
        console.log(data);
        // update total carbon emission for month
        let currentMonthEmission = data.series[0].data[data.series[0].data.length - 1];
        document.getElementById('monthlyEmission').textContent = currentMonthEmission + " g CO₂";

        // Calculate and display the percentage comparison with the previous month
        let previousMonthEmission = data.series[0].data[data.series[0].data.length - 2];
        let percentageChange = ((currentMonthEmission - previousMonthEmission) / previousMonthEmission) * 100;
        let comparisonText = (percentageChange >= 0 ? "↑ " : "↓ ") + Math.abs(percentageChange).toFixed(2) + "%";
        document.getElementById('monthlyComparison').textContent = comparisonText;
    });
  });
</script>
{% endblock %}
